body::after{
content:'';
position:fixed;
inset:0;
background-image:
radial-gradient(white 1px, transparent 1px);
background-size:120px 120px;
opacity:0.08;
animation:moveStars 20s linear infinite;
pointer-events:none;
z-index:-1;
}

@keyframes moveStars{
from{
transform:translateY(0);
}
to{
transform:translateY(120px);
}
}
